body{
	text-align:center;
	margin:0;
	padding:0;
	height:1200px;
	background-image: url("planos.jpg");
	background-size:cover;
}
footer{
	display:block;
	background-color:#281a15;
	height:20px;
	width:100%;
	color:#ffdeb9;
	margin-top:50px;
	text-align:center;
}
nav{
	display:inline-block;
	width:100%;
	height:60px;
	text-align:center;
	margin-top:50px;
}
img{
	height:200px;
	text-align:left;
	border-radius:45px;
	box-shadow:5px 5px 5px #111;
	text-align:center;
}
span{
	text-align:center;
	
}
a span{
	display:inline-block;
	text-align:center;
}
video{
	margin-left:500px;
	margin-top:50px; 
	width:300px;
	height:200px;
	
}
object{
	width:320px;
	height:240px;
}
embed{
	width:320px;
	height:240px;
} 
.opcao{
	
	display:inline-block;
	width:200px;
	height:30px;
}
.subopcao .opcao{
	display:block;
	width:150px;
	height:25px;
	margin:10px;
}
.subopcao {
	display:none;
}
.opcao a span{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.opcao a{ 
	border-radius:25px;
	display: table;
	width:160px;
	height:30px;
	height:100%;
	background-color:#281a15;
	text-align:center;
	text-decoration:none;
	color:#ffdeb9;
	font-size:20px;
	margin-left: 20px;
  	margin-right: 20px;
	border: 5px solid rgba(0, 0, 0, 0);
	font-weight: bold;
}
.opcao a:hover{
	background-color:#eb9b6a;
	transition: 0.3s;
	border: 5px solid rgba(150, 150, 255, 0.5);
}
.opcao:hover .subopcao{
	display:block;
	position:absolute;

}
.opcao1{
	display:inline-block;
}
.opcao1 a{ 
	border-radius:25px;
	display: table;
	width:160px;
	height:30px;
	height:100%;
	background-color:#643019;
	text-align:center;
	text-decoration:none;
	color:#ffdeb9;
	font-size:20px;
	margin-left: 20px;
  	margin-right: 20px;
	border: 5px solid rgba(0, 0, 0, 0);
	font-weight: bold;
}
.opcao1 a:hover{
	background-color:#eb9b6a;
	transition: 0.3s;
	border: 5px solid rgba(150, 150, 255, 0.5);
}
.imagens{
	display:inline-block;
	margin-left:20px;
}
#video{
	color:#ffdeb9;
	font-size:25px;
	text-align:center;
}
#texto{
	margin-top:200px;
	text-align:center;
	font-size:40px;
	color:#ffdeb9;
	background-color:#8a5930;
	opacity:.6;
	z-index:1;
}

#geral{
	
	display:inline-block;
	height:1000px;
	width:100%;
	text-align:left;

	
}
